<app-navbar></app-navbar>

<div class="card">
        
    <div class="card-header heading row text-center col-xs-12">
            <button type="button" class="btn btn-primary btn-circle btn-l" [routerLink]="['/reactiveInputData/0']"><i class="fa fa-plus"></i>
            </button>
        <div class="text-center" style="margin-left: 10px;">  GILL INSURANCE AGENCY INC. - Data  </div>   
    </div>
</div>    
<!-- <h6 class="heading text-center"> GILL INSURANCE AGENCY INC. - Data </h6><br/> -->

<table class="table table-sm table-striped table-bordered table-responsive">  
  <thead> 
    <tr>  
      <th>  
          Name <br>
      </th>
      <th>  
          Cell Phone
      </th>
      <th>  
          Email
      </th>
      <th>  
          Age
      </th>
      <th>  
          Gender
      </th>
      <th>  
        Profession
    </th>
      <th>  
          Address
      </th>
      <th>  
          Notes
    </th>
    </tr>
  </thead>
  
  <tbody> 
    <tr *ngFor="let client of clientList">
        <td>{{client.firstName | uppercase}} {{client.lastName | uppercase}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.email}}</td>
        <td>{{client.age}}</td>
        <td>{{client.gender}}</td>
        <td>{{client.profession | uppercase}}</td>
        <td>{{client.street1}} {{client.city}} {{client.province}}</td>
        <td>{{client.notes}}</td>

        <td>
          <a class="btn"  [routerLink]="['/reactiveInputData/', client.$key]">
            <i class="fa fa-pencil-square-o"></i>
          </a>
          </td>
          <!-- <td>
          <a class="btn" (click)="onDelete(client.$key)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td> -->
    </tr>
  </tbody> 
</table>
